.title{
    text-align: center;
    text-transform: uppercase;
    color: grey;
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;}

    .table{
        display: flex;
        flex-wrap: wrap;
    justify-content: space-between;
}


    
