.container{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
   
    
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: grey;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navLink{
    display: block;
    padding: 5px 5px 5px 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: 20px;
}

.navLink:hover, .navLink:focus {
    color: green;
    }
